*{
    margin: 0;
    padding: 0;
}

.menu{
    position: fixed;
    width: 272px;
    height: 100vh;
    background: #F4F6FB;
    transition: all 0.15s 0.15s;
}

#on{
    top: 0;
    left: 0;
}

#off{
    left: -272px;
    top: 0;
}

.menu-img{
    margin: 20px 24px;
}

.menu-buttons{
    display: flex;
    flex-direction: column;
}